.footer {
    background-color: #837b9c;
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #837b9c;
    min-height: 10vh;
    display: flex;
    align-items: center;
    
}

.navbar a {
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: #999
}